/*  This css for A03 assignment for Dev 109, February 2025 */	
body 
	{
	font-family: Oswald, Arial, sans-serif;
	color: #665549;
    	background-color: #8FBC8F;
	padding: 0 15% 0 15%;
	}
h2
	{
	text-align:center;
	color:blue;
	font-family:'DancingScriptRegular';
	font-size:140%;
    	margin-left: auto;
    	margin-right: auto;
	color: #A0522D; 
	font-size: 24px;
	padding: 5px; 

	}
pre 
	{
         font-family: monospace;
         text-align: center;
         line-height: 1;
        }
.container 
	{
         max-width: 600px;
         margin: 10px auto;
         text-align: center;
	}
div
	{		
	background-color: #F5F5DC ;
	width: 400px;
	}
#dimondshape
	{
	max-width: 400px;
	background-color: #FAF9F6;
    	margin-left: auto;
    	margin-right: auto;
	padding: 25px;
	border:1px solid green;
	}
button 
	{
         padding: 5px 30px;
         margin: 5px;
         font-size: 16px;
	 font-weight: bold;
	 background-color: #FAF9F6;
        }
label 
	{
    	display: inline-block;
   	margin-bottom: 15px;
    	font-family: 'Oswald';
    	font-weight: normal;
    	font-style: normal;
    	font-size: 16px;
	}
input, select
	{
    	font-family: 'Oswald';
        padding: 5px;
        font-size: 16px;
        width: 160px;
        }
